@media (max-width: 650px) {
  .wrapper  {
    max-width: 550px;
  }
}
@media (max-width: 650px) {
.header_title{
margin-top: 50px;
}
}
@media (max-width: 650px) {
  .header_scroll{
  margin-bottom: 200px;
  }
  }
  @media (max-width: 650px) {
    .header_bottom_border{
    margin-bottom: 0;
    }
    }
    @media (max-width: 650px) {
      .header_burger_menu {
        background: none;
        text-decoration: none;
        border: none;
        display: block;
      }
      .header_list {
        display: none;
      }
      }
   