@mixin button{
  background-color: $blue;
  border: none;
  width: 150px;
  height: 40px;
  max-width: 150px;
  max-height: 40px;
  overflow: hidden;
  color: white;
  font-weight: bold;
font-size: 13px;
line-height: 18px;
font-family: $basefont;
cursor: pointer;
}
.capabilities_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: flex;
flex-wrap: wrap;
}
.capabilities_section {
  width: 100%;
}
.capabilities_title {
  flex-wrap: wrap;
}
.capabilities_link {
  text-decoration: none;
}
.capabilities_link h4 {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
  font-family: $basefont;
  color: $basecolor
    }
.capabilities_subtitle {
  font-family: $basefont;
  color: $basecolor;
font-size: 11px;
line-height: 19px;
max-width: 405px;
max-height: 60px;
flex-wrap: wrap;
}
.capabilities_btn {
@include button;
}
.capabilities_container {
  margin-bottom: 78px;
}