/* ----------background photo title + btn---------*/
@mixin divide_title {
font-size: 30px;
line-height: 36px;
font-family: $basefont;
color: $basecolor;
font-weight: bold;
max-height: 72px;
}

.footer_title p {
  @include divide_title;
  margin: 0;
  padding-bottom: 35px;
  }
.footer_title{
  text-align: center;
  margin-bottom: 194px
}
.footer_btn {
  @include button;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.wrapper_background{
  background: url(/./img/background_footer.png) 50% -130px no-repeat;
 height: 300px;

}
/* ----------background black footer---------*/
.wrapper_background_black {
  max-height: 120px;
  background-color: black;
 padding-top: 40px;
 padding-bottom: 40px;

}
.footer_signup {
  display: flex;
  justify-content: space-around;
  text-align: center;
  flex-wrap: wrap;
}
.footer_signup h6 {
  font-size: 22px;
line-height: 30px;
color: white;
font-family: $basefont;
margin: 0;

}
.footer_form_signup {
  width: 250px;
  height: 40px;
  max-width: 250px;
  max-height: 40px;
  border: none;
  padding: 0
}
.footer_form_btn {
  @include button;
  width: 180px;
  height: 40px;
  max-width: 180px;
  max-height: 40px;
}
.footer_form_signup::placeholder {
  padding: 15px;
}

