@mixin item_nav {
font-family: 'Open Sans', sans-serif;
font-weight: 800;
font-size: 12px;
line-height: 16px;
letter-spacing: 1.09091px;
  
}
.header_logo-pic img {
  max-width: 100%;
}
.header_wapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  
  
}
.header_wrapper {
max-height: 65px;
}
.header_logo-pic{
max-width: 80px;
max-height: 17px;
}

.header_item {
  display: inline-block;
 
}
.header_list {
  margin-top: 0;
  margin-bottom: 0;
  
}
.header_link_nav span {
  color: #00A4E5;
}
.header_link_nav {
text-decoration: none;
color: #48555B;
margin-left: 42px;
}

.header_bottom_border {
padding-bottom: 12px;
border-bottom: 1px solid #E6E6E6;
}
.header_bottom_border {
  margin-bottom: 57px;
}
/* --------BURGER--------- */
.header_burger_menu {
  background: none;
  text-decoration: none;
  border: none;
  display: none;
}