.header_logo {
padding-top: 41px;

.header_logo-pic {
  height: 23px;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
}
}
.header_title {
  margin-top: 317px;
  

}

.header_title h1{
  font-family: 'Puritan', sans-serif;
font-size: 60px;
line-height: 70px;
color: white;
letter-spacing: 5.70937px;
text-align: center;
margin:0
}
.header_subtitle h2{
font-family: 'Open Sans', sans-serif;
font-weight: 600;
font-size: 16px;
line-height: 22px;
text-align: center;
color: white;
margin:0

}
.header_scroll {
  margin-top: 241px;
font-family: 'Open Sans', sans-serif;
font-style: normal;
font-weight: 600;
font-size: 11px;
line-height: 15px;
text-align: center;
color: white;
letter-spacing: 3.7px;
margin-bottom: 101px;
opacity: .7;
}