.wrapper_stroy_box {
  .wrapper {
    max-width: 940px;
    margin: 0 auto;
    overflow: hidden;
  }
}
.title_story {
font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 25px;
color: #48555B;
text-align: center;
}

.wrap_story {
  margin-top: 60px;
display: flex;
justify-content: space-between;
}

.stories_item {
  position: relative;
}
.subtitle_story h4 {
  margin: 0 auto;
}
.subtitle_story {
font-family: $basefont;
font-style: normal;
font-weight: bold;
font-size: 20px;
line-height: 27px;
letter-spacing: 0.1875px;
margin-bottom: 5px;
max-width: 390px;
span {
  color: #00A4E5;
}
}
.content_story {
font-size: 13px;
line-height: 23px;
font-family: $basefont;
color: #48555B;
margin-bottom: 119px; //времянка
}

.leftside_story {
  max-width: 400px;
}

.rightside_story {
  display: flex;
  flex-wrap: wrap;
  padding-left: 15px;
}
.stories_img {
  padding-left: 15px;
}
.stories_title {
  position: absolute;
  top: 0;
  left: 15%;
  color: white;
  font-weight: 800;
font-size: 24px;
line-height: 29px;
font-family: $basefont;
max-width: 16px;
padding: 5px;
}

